  <header class="fixed-top bg-gradient">
    
    <nav class="navbar navbar-expand-lg">
    <div class="container d-flex aling-items-center justify-content-between">
        <a class="navbar-brand" routerLink="inicio">
            <img src="assets/Logo/logo.png" alt="Logo" width="48" height="38" class="d-inline-block align-text-top ">
            
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse p-2 navbar" id="navbarNav">

        <ul class="navbar-nav" *ngIf="userLogged | async as user; else logout">

          <li class="nav-item">
            <a routerLink="lista" class="nav-link active" routerLinkActive="active"><span class ="fs-5">Mi lista</span></a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()"><span class="fs-5">Salir <i class="ml-1 fas fa-arrow-right"></i></span></a>
          </li>
        </ul>
      <ng-template #logout>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="peliculas" routerLinkActive="active"><span class="fs-5">Peliculas</span></a>
          <li class="nav-item">
            <a class="nav-link active" routerLink="series" routerLinkActive="active"><span class="fs-5">Series </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="ingresar" routerLinkActive="active"><span class="fs-5">Ingresar <i class="fas fa-arrow-right"></i> </span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" routerLink="lista" routerLinkActive="active"><span class="fs-5">Lista  </span></a>
          </li> -->
        </ul>
      </ng-template>
        
      </div>
    </div>
  </nav>
  </header>
  <!-- <header class="fixed-top">
    <div class="container d-flex aling-items-center justify-content-between">
      <a routerLink="inicio">
        <img src="assets/Logo/logo.png" alt="Logo">
      </a>
      <ul class="main" *ngIf="userLogged | async as user; else logout">

        <li class="link-regular item-main">
          <a routerLink="lista" class="link" routerLinkActive="active">Mi lista</a>
        </li>

        <li class="link-regular item-main">
          <a class="link" (click)="logOut()">Salir <i class="ml-1 fas fa-arrow-right"></i></a>
        </li>
      </ul>

     <ng-template #logout>
       <ul class="main">
         <li class="link-regular item-main">
           <a class="link" routerLink="peliculas" routerLinkActive="active">Peliculas</a>
         </li>
         <li class="link-regular item-main">
           <a class="link" routerLink="series" routerLinkActive="active">Series</a>
         </li>
         <li class="link-regular item-main">
           <a class="link" routerLink="ingresar" routerLinkActive="active">Ingresar <i class="ml-1" fas fa-arrow-right></i></a>

           <li class="link-regular item-main">
            <a class="link" routerLink="lista" routerLinkActive="active">Lista <i class="ml-1" fas fa-arrow-right></i></a>
         </li>
       </ul>
     </ng-template>

    </div>
  </header>
 -->
