.contactos{
    display: flex;
    height: 75px;
    align-items: center;
    justify-content:space-between;
    padding: 25px;
    /* padding-top: 100px; */
}

.li-contacto{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.contactos ul li a{
    display: block;
    padding: 0 10px;
    background:rgb(32, 19, 36);
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.contactos ul:hover a{
    filter: blur(1.5px);
}
.contactos ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
    filter: none;
}