
<footer>

    <div class="contactos pb-md-0">
        
        <p class="mx-lg-auto">Copyright © 2022 Sergio Alejandro Gaitán - Desafío-5: Folcademy</p>

        <ul class="mx-sm-auto">
            <li class="li-contacto"><a href="#" class="email"><i class="far fa-envelope"></i></a></li>
            <li class="li-contacto"><a href="#" class="telefono"><i class="fas fa-phone-volume"></i></a></li>
            <li class="li-contacto"><a href="#" class="whatsapp"><i class="fab fa-whatsapp"></i></a></li>
            <li class="li-contacto"><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="li-contacto"><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
        </ul>

    </div>

    
</footer>