<div class="container">
    <div class="buscador mb-3">
      <h2 class="titulo pt-lg-4">PelisUP!</h2>
      <p>Plataforma para ver películas y series <span class="emoji">😉</span></p>
    </div>
  </div>
  
  
<div class="container">
  <div class="formulario">


    <div class="contenedor px-sm-0">

    <div class="input-contenedor">
      <i class="fas fa-search icon"></i>
      <input type="text" [(ngModel)]="search" (ngModelChange)="tosearch()"  placeholder="Buscar película o serie">
    </div>

    </div>

  </div>
</div>




<div class="container">
  <div class="row mb-3">
    <div class="m-2 p-3 col-12 catalogo">
      
      <button type="button" class="btn botonclic" (click)="onPrimerBoton('Todos')" (click)="getTrending()" [class.boton1]="filter == 1">Todos</button>
      <button type="button" class="btn boton2" (click)="onSegundoBoton('movie')" (click)="getMovies()"  [class.boton1]="filter == 2">Peliculas</button>
      <button type="button" class="btn botonclic" (click)="onTercerBoton('tv')" (click)="getSeries()" [class.boton1]="filter == 3">Series</button>
      

    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <h3>Todos <span>(120)</span></h3>
    </div>
</div>


<!-- <div class="container">
  <ul class="row justify-content-around p-lg-0">
    <li *ngFor="let card of movie_series; let i = index;" class="col-10 my-2 col-md-3">
      <app-card [name]="card.name" [rating]="card.rating" [image]="card.image"></app-card>
    </li>
  </ul>
</div> -->

<div class="container">
  <div class="row justify-content-around p-lg-0">
    
      <div class="cartelera col-10 my-2 col-md-3" *ngFor="let card of moviesAux; let i = index">
          <div class="card p-2 carte" style="width: 16rem;">
              <a href="#">
                  <img src="https://image.tmdb.org/t/p/w500{{card.poster_path}}" class="card-img-top" alt="imagen de pelicula">
              </a>
              <div class="card-body">
                <p class="card-text">{{card.title || card.name}}</p>
                <p><span class="icon-web ranking"><i class="far fa-star"></i>{{card.vote_average}}</span></p>
                <button class="boton-agreg" (click)="addList(card) ">Agregar a mi lista </button>
              </div>
          </div>
      </div>

</div>
</div>




