<section class="container">
    
    <div class="row col-12 ms-md-auto m-5 mb-5">
        <img src="assets/Logo/Login-01.png" alt="Imagen del login" class="col-6 imagen">
         <form action="" class="formulario" autocomplete="off" [formGroup]="miFormulario">
    <h2>Ingresar</h2>
    <div class="contenedor">

        <div class="input-contenedor">
            <i class="far fa-envelope icon"></i>
            <input type="text" placeholder="Email" formControlName="email" class="form-control formul">
            <span class="form-text text-danger d-flex" *ngIf="campoEsValido('email')">Debe ser un email con un minimo de 4 letras</span>
        </div>

        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña" class="form-control formul" formControlName="contraseña">
            <span class="form-text text-danger d-inline-block" *ngIf="campoEsValido('contraseña')">Debe tener un minimo de 6 caracteres</span>
            <i class="fas fa-eye icon-eye"></i>
        </div>

        <!-- <input type="submit" value="Ingresar" class="button"> -->
        <!-- <button [disabled]="miFormulario.invalid" type="submit" class="button mt-md-3" (click)="IngresarConGoogle()">Ingresar</button> -->
        <button type="submit" class="button" (ngSubmit)="guardar()" >Ingresar</button>
        <hr class="mt-lg-5 text-primary" style="height: 4px;">

        <button type="submit" (click)="IngresarConGoogle()" class="offset-4"><img src="assets/Logo/Login-Google.png" alt="imagen de google" style="height: 44px ; width: 200px;"></button>

        

    

        

    </div>
        </form>
    </div>
   
</section>
