*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h2{
    text-align: center;
    font-size: 64px;
    color: #C3C8D4;
    line-height: 80px;
    font-style: normal;
    position: static;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    margin-top: 150px;
    padding: 3px;
}
input{
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 82%;
    color: #475069;
    background: url(/src/assets/background.svg);
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 12px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.icon-eye{
    color: #999;
}
.button{
    border: none;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #7B6EF6;
    padding: 15px 20px;
    border-radius: 12px;
    cursor: pointer;
}
.button:hover{
    background-color: cadetblue;
}
.formul{
    display: inline;
}



@media(min-width:786px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2px;
    }
    .imagen{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2px;
    }

}