
<!-- <div>
    
    <div>
        <div class="cartelera">
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="{{image}}" class="card-img-top" alt="imagen de pelicula">
                </a>
                <div class="card-body">
                  <p class="card-text">{{name}}</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i>{{rating}}</span></p>
                </div>
            </div>
        </div>
    
        <div class="col-10 my-2 col-md-3 cartelera">
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="assets/portadas/img2.png" class="card-img-top" alt="imagen de pelicula">
                </a>
                <div class="card-body">
                  <p class="card-text">Shang Chi</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i> 7.9</span></p>
                </div>
            </div>
        </div>
    
        <div class="col-10 my-2 col-md-3 cartelera">
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="assets/portadas/img3.png" class="card-img-top" alt="imagen de pelicula">
                </a>
                <div class="card-body">
                  <p class="card-text">Loki</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i> 8.4</span></p>
                </div>
            </div>
        </div>
    
        <div class="col-10 my-2 col-md-3 cartelera">
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="assets/portadas/img4.png" class="card-img-top" alt="imagen de pelicula">
                </a>
                <div class="card-body">
                  <p class="card-text">How I Met Your Mother</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i> 8.3</span></p>
                </div>
            </div>
        </div>
    
        <div class="col-10 my-2 col-md-3 cartelera">
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="assets/portadas/img5.png" class="card-img-top" alt="imagen de pelicula">
                </a>
                <div class="card-body">
                  <p class="card-text">Money Heist</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i> 8.3</span></p>
                </div>
            </div>
        </div>
    
        <div class="col-10 my-2 col-md-3 cartelera">
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="assets/portadas/img6.png" class="card-img-top" alt="imagen de pelicula">
                </a>
                <div class="card-body">
                  <p class="card-text">Friends</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i> 8.8</span></p>
                </div>
            </div>
        </div>
    
        <div class="col-10 my-2 col-md-3 cartelera">
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="assets/portadas/img7.png" class="card-img-top" alt="imagen de pelicula">
                </a>
                <div class="card-body">
                  <p class="card-text">The Big Bang Theory</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i> 8.1</span></p>
                </div>
            </div>
        </div>
    
        <div class="col-10 my-2 col-md-3 cartelera">
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="assets/portadas/img8.png" class="card-img-top" alt="imagen de pelicula">
                </a>
                <div class="card-body">
                  <p class="card-text">Two And a Half Men</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i> 7.0</span></p>
                </div>
            </div>
        </div>
    
    </div>

</div> -->
