<div class="container">
    <div class="buscador mb-5">
      <p class="m-0 pt-lg-4">PelisUP!</p>
      <h2 class="titulo">Series</h2>
    </div>
  </div>
  
  
  
  <div class="container">
    <div>
      <form action="" class="formulario">
  
      <div class="contenedor px-sm-0">
  
      <div class="input-contenedor">
        <i class="fas fa-search icon"></i>
        <input type="search" placeholder="Buscar pelicula o serie">
      </div>
  
      </div>
      </form>
    </div>
  </div>



<div class="container">
    <div class="row">
        <h3 class="fs-6">Todos <span>(120)</span></h3>
    </div>
</div>

<div class="container">
  <div class="row justify-content-around p-lg-0">
    
      <div class="cartelera col-10 my-2 col-md-3" *ngFor="let card of moviesAux; let i = index">
          <div class="card p-2 carte" style="width: 16rem;">
              <a href="#">
                  <img src="https://image.tmdb.org/t/p/w500{{card.poster_path}}" class="card-img-top" alt="imagen de pelicula">
              </a>
              <div class="card-body">
                <p class="card-text">{{card.name}}</p>
                <p><span class="icon-web ranking"><i class="far fa-star"></i>{{card.vote_average}}</span></p>
                <button class="boton-agreg" (click)="addList(card) ">Agregar a mi lista </button>
              </div>
          </div>
      </div>

</div>
</div>