p{
    color: rgba(255, 255, 255, 0.603);
}

.icon-web{
    font-size: normal;
 }
 .ranking{
    padding: 4px 8px;
    top: 18px;
    left: 16px;
    color: #FFAD49;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    position: absolute;
 }
 .cartelera{
    position: relative;
 }
  .carte:hover{
     background-color: rgba(252, 252, 252, 0.281);
  }
  .carte{
     border-color: rgb(85, 85, 199);
     border-width: 3px;
  }
  .card{
    background-color: rgba(75, 74, 74, 0.459);
    border-radius: 16px;
 }
 p{
    color: rgba(255, 255, 255, 0.603);
}
span{
    color: rgba(255, 255, 255, 0.603);
    font-size: 15px;
}
.buscador{
    margin-top: 60px;
    margin-bottom: 25px;
}
.titulo{
    font-size: 50px;
}
.boton-elim{
    padding: revert;
    margin: auto;
    color: orange;
    background: linear-gradient(45deg, black, transparent);;
    border-block-style: none;
    border-radius: 7px;
}