<!-- <section class="container pt-5">
    <p class="m-0 pt-lg-5">PelisUP!</p>
    <h2 class="title">Mi lista</h2>

        <div class="d-flex justify-content-between aling-items-start flex-wrap">
            <div *ngFor="let card of movies">
                <div class="star d-flex justify-cntent-center aling-items-center"><span class="icon-web ranking"><i class="far fa-star mr-1"></i>{{card.vote_average }}</span></div>
                
        <img class="portada" src="https://image.tmdb.org/t/p/w500{{card.poster_path}}" alt="portada de {{card.name || card.title}}">
        <p class="title-card link-regular"> {{card.name || card.title }} </p>
            <button (click)="deleteItem(card.idGlobal || '')" class="btn-delete d-flex"> Eliminar de mi lista </button>
            </div>
        </div>
</section> -->

<div class="container">

    <div class="buscador mb-5">
        <p class="m-0 pt-lg-4">PelisUP!</p>
        <h2 class="titulo">Mi lista</h2>
    </div>
        

    <div class="row justify-content-around p-lg-0">

        <div class="cartelera col-10 my-2 col-md-3" *ngFor="let card of movies">
            
            <div class="card p-2 carte" style="width: 16 rem;">
                <img src="https://image.tmdb.org/t/p/w500{{card.poster_path}}" alt="portada de {{card.name || card.title}}" class="card-img-top">

                <div class="card-body">
                    <p class="card-text">{{card.title || card.name}}</p>
                    <p><span class="icon-web ranking"><i class="far fa-star"></i>{{card.vote_average }}</span></p>
                    <button (click)="deleteItem(card.idGlobal || '')" class="btn-delete d-flex boton-elim"> Eliminar de mi lista </button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div class="container">
  
    <div class="row justify-content-around p-lg-0">
      
        <div class="cartelera col-10 my-2 col-md-3" *ngFor="let card of moviesAux; let i = index">
          
            <div class="card p-2 carte" style="width: 16rem;">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w500{{card.poster_path}}" class="card-img-top" alt="imagen de pelicula">
                </a>
                
                <div class="card-body">
                  <p class="card-text">{{card.title}}</p>
                  <p><span class="icon-web ranking"><i class="far fa-star"></i>{{card.vote_average}}</span></p>
                </div>
            </div>
        </div>
  </div>
  </div> -->