body{
    background-image: url(./assets/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}