.buscador{
    margin-top: 60px;
    margin-bottom: 25px;
}
.buscar{
    width: 25%;
    height: 25%;
}
.titulo{
    font-size: 50px;
}
p{
    color: rgba(255, 255, 255, 0.603);
}
h3{
    color: rgba(255, 255, 255, 0.603);
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    padding: 3px;
}
input{
    font-size: 17px;
    padding: 10px;
    border: none;
    width: 82%;
    color: #475069;
    background: url(/src/assets/background.svg);
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #323B54;
    border-radius: 12px;
    width: 344px;
    height: 64px;
    padding: 12px 16px;
    box-sizing: border-box;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
    font-size: 23px
}


.catalogo{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #10233a;
    width: auto;
    height: 70px;
}
.boton1{
   margin-right: 15px;
   border-radius: 8px;
   width: 115px;
   height: 40px;
   left: 8px;
   top: 8px;
   margin-left: 10px;
   color: white;
   background-color: #7B6EF6;
   padding: 8px 32px;
}

.boton2{
    margin-right: 15px;
    border-radius: 8px;
    width: 115px;
    height: 40px;
    left: 8px;
    top: 8px;
    color: white;
    padding: 8px 32px;
}
.botonclic{
    margin-right: 15px;
    border-radius: 8px;
    width: 115px;
    height: 40px;
    left: 8px;
    top: 8px;
    color: white;
    padding: 8px 32px;
}

.buscador{
    margin-top: 60px;
    margin-bottom: 25px;
}
/* .buscar{
    width: 25%;
    height: 25%;
} */
.titulo{
    font-size: 50px;
}

span{
    color: rgba(255, 255, 255, 0.603);
    font-size: 15px;
}
h3{
    color: rgba(255, 255, 255, 0.603);
}
.emoji{
    color: white;
}
ul{
    list-style: none;
}


.card{
    background-color: rgba(75, 74, 74, 0.459);
    border-radius: 16px;
 }
 span{
    font-size: 15px;
 }
 h3{
   color: rgba(255, 255, 255, 0.349);
 }
.cartelera{
   position: relative;
}
 .carte:hover{
    background-color: rgba(252, 252, 252, 0.281);
 }
 .carte{
    border-color: rgb(85, 85, 199);
    border-width: 3px;
 }
 .icon-web{
    font-size: normal;
 }
 .ranking{
    padding: 4px 8px;
    top: 18px;
    left: 16px;
    color: #FFAD49;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    position: absolute;
 }

 .boton-agreg{
    padding: revert;
    margin: auto;
    color: orange;
    background: linear-gradient(45deg, black, transparent);;
    border-block-style: none;
    border-radius: 7px;
}